/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'BenchNine', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;

}

/* PAGE HEADER
-----------------------------------------*/
header {
  background: url(images/MS0081.jpg) no-repeat fixed;
  background-size: cover;
  padding: 350px 150px;
}

/* PAGE FOOTER
-----------------------------------------*/

footer {
  margin: 0 auto;
  color: #000000;
	letter-spacing: 2px;
	padding: 1px 0;
}

ul {
list-style: none;
text-align: center;
}

li {
display: inline;
}


@font-face {
    font-family: 'Mono Social Icons Font';
    src: url('MonoSocialIconsFont-1.10.eot');
    src: url('MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
         url('MonoSocialIconsFont-1.10.woff') format('woff'),
         url('MonoSocialIconsFont-1.10.ttf') format('truetype'),
         url('MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
    src: url('MonoSocialIconsFont-1.10.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

.symbol, a.symbol:before {
    font-family: 'Mono Social Icons Font';
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-size: 40px;
}

a.symbol:before {
    content: attr(title);
    margin-right: 0.3em;

}

a:link {color: grey; text-decoration: none;}
a:visited {color: grey;text-decoration: none;}
a:hover {color:red; text-decoration:none}
a:active {color: #5439B8;}
